<!-- <p>postdetails works!</p> -->
<div>
    <div>
        <div>
            <table class="table">
                <thead>
                    <tr>
                        <th> UserID</th>
                        <th> ID</th>
                        <th> Title</th>
                        <th> Body</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{arrPostDetails.userId}}</td>
                        <td>{{arrPostDetails.id}}</td>
                        <td>{{arrPostDetails.title}}</td>
                        <td>{{arrPostDetails.body}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- <p>{{arrPostDetails.id}}</p> -->
