<h1>Simple Form practice..!</h1>
<form>
    <div class="mb-3">
        <label for="userName" class="form-label">User Name</label>
        <input type="userName" class="form-control" id="userName" name="userName">
      </div>
    <div class="mb-3">
      <label for="inputEmail" class="form-label">Email address</label>
      <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp" name="email" required>
    </div>
   
    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
